a:link {
	color: #FF9036;
	text-decoration: none;
}
a:hover {
	color: #FF6836;
}
a:visited {
	color: gray;
}
body {
		padding-top: 30px;
		background-color: white;
		color: #2e3436;
		margin: 0 auto;
		width: 700px;
		text-align: center;
}
img {
		float : right;
		height : 50px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
}
li {
		background-color: #FFFECF;
		border: 1px solid #FFFEB3;
		padding: 15px;
		margin-bottom: 10px;
		-moz-border-radius: 15px;
		-webkit-border-radius: 15px;
		margin-bottom: .5em;
}
div.title {
		font-weight: bold;
		color: #578FF7;
		font-size: 1.2em;
}
ul {
		text-align: left;
		list-style-type: none;
}
#locked {
		visibility: hidden;
}
